<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ITripIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.iTrip.XamMac2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleName</key>
	<string>iTrip</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.travel</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
